/*
        PARTE NIKO
*/

body {
    background: linear-gradient(-45deg, #349f10, #09ce16);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.glass-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    color: rgba(0, 0, 0, 0.7);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 100px;    
    width: 100%;         
    padding: 16px;
    box-sizing: border-box;
}

.form-control {
    width: 100%;
    padding: 12px 15px;
    margin: 5px 0;
    
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    outline: none; 
    transition: all 0.3s ease;
}

.form-control::placeholder { color: rgba(0, 0, 0, 0.7); }
.form-control:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.btn-custom {
    width: 100%;
    padding: 12px 15px;
    margin: 5px 0;
    
    background: rgba(4, 95, 4, 0.676); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    outline: none; 
    transition: all 0.3s ease;

}
.btn-custom::placeholder{
    color: rgba(255,255,255,0.7);
}
.btn-custom:focus{
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
.btn-custom:hover {
    transform: scale(1.05);
    color: rgba(255,255,255,0.7);
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

/*
        PARTE ADAM
*/
.centered-text {
    text-align: center;
            }
.form-title{
    font-family: 'roboto',sans-serif;
    color: rgba(0, 0, 0, 0.7);

}
.input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
        }
.label {
    color: white;
    font-size: 0.9em;
    margin-left: 5px;
    }


